[submodule "lowbit_classification"]
	path = lowbit_classification
	url = https://github.com/flyingTan/lowbit_classification.git
[submodule "QuantMmdetection"]
	path = QuantMmdetection
	url = https://github.com/flyingTan/QuantMmdetection.git
[submodule "ModelAnalysisTools"]
	path = ModelAnalysisTools
	url = https://github.com/flyingTan/ModelAnalysisTools.git
[submodule "QuanTransformer"]
	path = QuanTransformer
	url = https://github.com/flyingTan/QuanTransformer.git
