sphinx>=4.0
sphinx-argparse
sphinx-rtd-theme
sphinx_markdown_tables
sphinx_markdown_builder
recommonmark

mmcv-full==1.3.1
matplotlib
numpy
scipy
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl